*, html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
}

header {
    height: 112px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.row .logo {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: .2rem;
}

.secondary {
    background-color: greenyellow;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.53s ease-in-out;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

.logo {
    margin-top: 30px;
}

header nav ul li a {
    padding-right: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.53s ease-in;
}

header nav ul li a:hover {
    text-decoration: none;
    color: gold;
}

.row {
    display: flex;
    justify-content: space-between;
}

.img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img01.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
}

.slider, .slider ul,.slider ul li  {
    height: 710px;
    width: 100%;
    color: white;
    text-align: center;
}

.slider h2 {
    font-weight: bold;
    margin-top: 270px;
    color: yellowgreen;
}

.slider span {
    color: gold;
}

.slider a {
    padding: 10px 40px;
    margin-left: 10px;
}

.slider a.btn-half {
    background-color: yellowgreen;
    color: white;
    transition: 0.5s ease-in-out;
}

.slider a.btn-half:hover {
    opacity: 0.7;
}

.slider a.btn-full {
    background-color: gold;
    color: white;
    transition: 0.5s ease-in-out;
}

.slider a.btn-full:hover {
    opacity: 0.7;
}

.img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img02.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;


}

.img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img05.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
}

.slider i {
    font-size: 35px;
    margin-right: 10px;
}

.intro-area {
    position: relative;
    padding: 100px 0px;
    text-align: center;
}

.sub-heading {
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4%;
    width: 6%;
    height: 1px;
    background-color: gold;
    z-index: 1;
    -webkit-transition: 0.33s ease;
    -moz-transition: 0.33s ease;
    -ms-transition: 0.33s ease;
    -o-transition: 0.33s ease;
    transition: 0.33s ease;
}

.sub-heading:hover:before {
    width: 24%;
    margin-left: -12%;
}

.sub-heading:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p {
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.intro-block {
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 0px;
    padding: 70px 25px 40px;
    text-align: center;
}

.intro-block:hover, .intro-block.active {
    background: greenyellow;
}

.intro-block:hover {
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}

.intro-block .intro-icon {
    position: absolute;
    top: -31px;
    left: 70%;
    margin-left: -31%;
}

.intro-block img {
    width: 48px;
    height: 48px;
    font-size: 30px;
    background-color: greenyellow;
    color: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgb(217, 247, 174);
}

.intro-block:hover img, .intro-block.active img {
    background: white;
    color: greenyellow;
    box-shadow: 0px 0px 0px 10px greenyellow;
}

.intro-block h3 {
    font-size: 18px;
    color: greenyellow;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.intro-block p {
    color: #505050;
}

.intro-block:hover h3, .intro-block:hover p {
    color: #f6f6f6;
}

#intro .imagelogo {
    position: relative;
    width: 15%;
    padding-left: 0;
    margin-left: 0;
    top: 0;
}

.feature-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(img13.jpg);
    background-position: center;
    background-attachment: fixed;
}

.title h2, p {
    color: white;
}

.single-feature h3 {
    color: white;
    text-transform: uppercase;
}

.single-feature {
    position: relative;
    width: 325px;
    padding: 30px;
    text-align: center;
    border-right: 1px solid gold;
    border-bottom: 1px solid gold;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.feature-block {
    display: flex;
    flex-wrap: wrap;
}

.feature-block:after {
    content: "";
    display: table;
}

.feature-block:after {
    clear: both;
}

.featured-icon img {
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature img {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    color: white;
    width: 84px;
    height: 84px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.feature-block:hover .single-feature {
    border-color: white;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.single-feature:hover .featured-icon img {
    border: 2px solid greenyellow;
    background: white;
    color: greenyellow;
}

.single-feature:nth-of-type(even) {
    border-right: none;
}

.single-feature:nth-last-child(2) {
    border-bottom: none;
}

.single-feature:last-child {
    border-bottom: none;
}

.feature-area {
    padding: 100px 0;
}

.feature-mockup {
    bottom: 30px;
    position: relative;
}










